{% extends "member/base.html" %}

{% block title %} <h2> 로 그 인 </h2> {% endblock %}

{% block content %}
{% csrf_token %}
<form method="post" name="mainform" action="login">
	<table> 
		<tr>
			<th colspan="2">
				{% if message %}
					{{ message }}
				{% else %}
					회원가입에 성공했습니다. 로그인 정보를 입력하세요
				{% endif %}
			</th>
		</tr>	
		<tr>
			<th> 아이디 </th>
			<td> <input class="input" type="text" name="id" maxlength="50" autofocus> </td>
		</tr>
		<tr>
			<th> 비밀번호 </th>
			<td> <input class="input" type="password" name="passwd" maxlength="50"> </td>
		</tr>
		<tr>
			<th colspan="2">
				<input class="inputbutton" type="submit" value="로그인"> 
				<input class="inputbutton" type="reset" value="취소"> 
			</th>
		</tr>
	</table>
</form>
{% endblock %}