{% extends 'member/base.html' %}

{% csrf_token %}

{% block title %} <h2> 회원 정보 수정 </h2> {% endblock %}
{% block content %}
	<form method="post" action="updatepro" name="updateform">
	<input type="hidden" name="id" value="{{dto.id}}">
		<table>
			<tr>
				<th colspan="2">
					수정할 정보를 입력하세요
				</th>
			</tr>
			<tr>
				<th> 아이디 </th>
				<td> &nbsp; {{ dto.id }} </td>
			</tr>
			<tr>
				<th rowspan="2"> 비밀번호 </th>
				<td> 
					<input class="input" type="password" name="passwd" maxlength="50" value="{{ dto.passwd }}"> 
				</td>
			</tr>
			<tr>
				<td> 
					<input class="input" type="password" name="repasswd" maxlength="50" value="{{ dto.passwd }}"> 
				</td>
			</tr>
			<tr>
				<th> 이름 </th>
				<td> &nbsp; {{ dto.name }} </td>
			</tr>
			<tr>
				<th> 이메일 </th>
				<td> <input class="input" type="email" name="email" maxlength="50" value="{{ dto.email }}"> </td> 
			</tr>
			<tr>
				<th> 전화번호 </th>
				<td> 
					<input class="input" type="text" name="tel1" maxlength="3" style="width:30px" 
					value="{{ t.0 }}">
					- <input class="input" type="text" name="tel2" maxlength="4" style="width:40px" 
					value="{{ t.1 }}">
					- <input class="input" type="text" name="tel3" maxlength="4" style="width:40px" 
					value="{{ t.2 }}">
				</td>
			</tr>
			<tr>
				<th> 부서 </th>
				<td>
					&nbsp;<select name="depart">
						<option value="선택안함"> 선택안함 </option>
						<option value="영업부"> 영업부 </option>
						<option value="관리부"> 관리부 </option>
						<option value="경리부"> 경리부 </option>
						<option value="개발부"> 개발부 </option>
					</select>
				</td>
			</tr>
			<tr>
				<th> 가입일자 </th>
				<td> &nbsp;{{ dto.logtime|date:"Y-m-d" }} </td>
			</tr>
			<tr>
				<th colspan="2">
					<input class="inputbutton" type="submit" value="수정">
					<input class="inputbutton" type="reset" value="취소">
					<input class="inputbutton" type="button" value="수정취소"
						onclick="location='main'">
				</th>
			</tr>	
		</table>
	</form>
{% endblock %}